.card-block {
	width: 100%;
	max-width: 550px;
	padding: 20px 30px;
	background: #ffffff;
	border: 1px solid #cfcfcf;
	box-sizing: border-box;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	margin: 0 0 40px -30px;
}
.card-block label {
	display: block;
	color: #555770;
	font: 400 12px/24px 'Roboto', sans-serif;
}

input[type='text'],
input[type='number'] {
	outline: none;
	border: none;
	background: #ededf1;
	padding: 8px 10px;
	height: 40px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.input__full-width {
	width: 100%;
}
.card-number-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.input__small {
	width: 100px;
}
.card-number-block label {
	width: 100%;
}
.card-date-cvv-block {
	display: flex;
}
.card-date {
	margin-right: 30px;
}
