//CUSTOM STYLE FOR INPUT TYPE RADIO
[type='radio']:checked,
[type='radio']:not(:checked),
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
	position: relative;
	padding-left: 32px;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #000;
	font: 400 14px 'Roboto', sans-serif;
	margin-right: 82px;
}
[type='radio']:checked + label:nth-last-of-type(1),
[type='radio']:not(:checked) + label:nth-last-of-type(1) {
	margin-right: 0;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: calc(50% - 9px);
	width: 18px;
	height: 18px;
	border: 1px solid #cfcfcf;
	border-radius: 100%;
	background: #fff;
	box-sizing: border-box;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
	content: '';
	width: 8px;
	height: 8px;
	background: #3366ff;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type='radio']:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

//CUSTOM STYLE FOR INPUT TYPE CHECKBOX

.checkbox-wrap {
	margin-bottom: 40px;
}
.checkbox-block {
	margin-bottom: 12px;
}
.checkbox-block:nth-last-of-type(1) {
	margin-bottom: 0;
}

[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
	position: relative;
	padding-left: 26px;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #8c8c8c;
	font: 400 14px 'Roboto', sans-serif;
	margin-right: 82px;
}
[type='checkbox']:checked + label:nth-last-of-type(1),
[type='checkbox']:not(:checked) + label:nth-last-of-type(1) {
	margin-right: 0;
}

[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: calc(50% - 9px);
	width: 18px;
	height: 18px;
	border: 1px solid #cfcfcf;
	background: #fff;
	box-sizing: border-box;
}
[type='checkbox']:checked + label span,
[type='checkbox']:not(:checked) + label span {
	color: #000;
}

[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
	content: '';
	width: 8px;
	height: 8px;
	background: #3366ff;
	position: absolute;
	top: 5px;
	left: 5px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type='checkbox']:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type='checkbox']:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
